
// Color
$theme-color 			: #452926;
$primary-color          : #2d8cf0; //::
$info-color             : #0071c0; //::
$success-color          : #09bb07; //::
$warning-color          : #FEBF06; //::
$error-color            : #FF5946; //::
$link-color             : #2D8cF0;






// layout 
$layout-header-height: 50px;
$layout-menu-width: 200px;


$min-screen-width: 1366px;
$min-screen-height: 500px;


$border-color: #e6e6e6;
$border-default-color: $border-color;
